@font-face {
  font-family: 'Advanced Pixel LCD-7';
  src: url(./fonts/AdvancedPixelLcd7.ttf);
  font-family: 'Orbitron';
  src: url(./fonts/Orbitron-Regular.ttf);
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.calculator-container {
  display: flex;
  flex-direction: column;
  background-color: gray;
  padding: 20px;
  gap: 10px;
  border-radius: 10px;
}

.screen-container {

  height: 4em;
  font-family: 'Advanced Pixel LCD-7';
  border: 1px solid yellow;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  flex: 1;
  gap: 10px;
}

button {
  font-family: 'Orbitron';
  font-weight: bold;
  cursor: pointer;
}

.modifier-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.modifier-container > button {
  flex: 1;
  background: red;
  color: white;
  border: 0;
}
